/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: "HarmonyOS_Sans_SC_Regular";
  src: url(/public/fonts/HarmonyOS_Sans_SC_Regular.ttf);
}
:root {
  --测试: black;
}

/* semantic color variables for this project */
:root {
  --测试: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --测试: black;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:"HarmonyOS_Sans_SC_Regular";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}