<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue2</title>
  <script src="../vue.js"></script>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
    }

    button {
      padding: 10px 15px;
      border-radius: 6px;
      border: 1px solid;
    }

    .box {
      background: #ccc;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id="app">

    <!-- 隐藏 -->
    <div class="box" v-show="0">盒子</div>
    <!-- 删除 -->
    <div class="box" v-if="0">盒子</div>

    <div>
      <p>a的值是 <span>{{ a }}</span></p>
      <button @click="a++">a+1</button>
      <div class="box" v-show="a==3">盒子1</div>
      <div class="box" v-if="a==3">盒子2</div>
      <div class="box" v-else>盒子3</div>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: "#app",
    data: {
      a: 0
    }
  })
</script>

</html>