<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue2</title>
  <script src="../vue.js"></script>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
    }

    button {
      padding: 10px 15px;
      border-radius: 6px;
      border: 1px solid;
    }

    div {
      padding: 5px 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <form @submit.prevent="demo">
      年龄: <input type="number" v-model.number="age">
      <!-- 
       修饰符：
       model
       1.number 转换成数字
       2.lazy 延迟更新
       3.trim 去掉头尾空格
      -->
      <div>
        <p>用户名: <input type="text" v-model.trim="name"></p>
        <p>密码: <input type="password" v-model="pwd"></p>
        <!-- 字符串接收 -->
      </div>

      <div>
        性别：
        男<input type="radio" name="sex" value="male" v-model="sex">
        女<input type="radio" name="sex" value="female" v-model="sex">
        <!-- 字符串接收value -->
      </div>
      <div>
        爱好:
        吃饭:<input type="checkbox" name="hobby" value="eat" v-model="hobby">
        学习:<input type="checkbox" name="hobby" value="study" v-model="hobby">
        代码:<input type="checkbox" name="hobby" value="code" v-model="hobby">
        <!-- 用数组接收 -->
      </div>
      <div>
        地区:
        <select v-model="city">
          <option value="">请选择</option>
          <option value="仙游">仙游</option>
          <option value="涵江">涵江</option>
        </select>
        <!-- 字符串接收 -->
      </div>
      <div>
        备注:<textarea v-model.lazy="other"></textarea>
      </div>
      <div>
        <input type="checkbox" value="true" v-model="agree">
        同意
        <!-- 逻辑值接收数据 -->
      </div>
      <button type="submit">提交</button>
    </form>
  </div>
</body>
<script>
  new Vue({
    el: "#app",
    data: {
      age: 18,
      name: "",
      pwd: "",
      sex: "",
      hobby: [],
      city: "",
      other: "",
      agree: false
    },
    methods: {
      demo() {
        const str = JSON.parse(JSON.stringify(this._data))
        console.log(str);
      }
    },
  })
</script>

</html>