*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  user-select: none;
}

body {
  min-height: 100vh;
  min-width: 1100px;
  line-height: 1.2;
  font-family: "微软雅黑";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/public/images/body.jpg) center bottom no-repeat;
  background-size: cover;
}


main {
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
  max-width: 1200px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: initial;
  padding: 5px 15px;
}

button{
  padding: 3px 11px;
  border-radius: 4px;
  background: rgb(77, 255, 181);
  border: 1px solid rgb(48, 201, 137);
  transition: .1s;
  margin: 0 5px;
}
button:hover{
  background: rgb(61, 219, 153);
}
button:active{
  background: rgb(43, 207, 139);
}