

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1.2;
  font-family:"微软雅黑";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/public/images/body.jpg) center bottom no-repeat;
  background-size: 100%;
}


main{
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
}
img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}