@import './base.css';

#app {
  margin: 0;
}

.LBimg-body-imgActive {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  animation: 淡入 .2s forwards;
}

@keyframes 淡入 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.t-center {
  text-align: center;
}

.开始::before {
  content: '开始';
}

.停止::before {
  content: '停止';
}

.flex{
  display: flex;
}

.m-l-15px{
  margin-left: 15px;
}